<nav class="navbar navbar-expand-md navbar-light mb-0 bd-navbar" style="background-color: #e3f2fd;">
  <a id="app-link" class="font-weight-bold fas fa-laugh-wink navbar-brand" href="/messages"> CHAT APP</a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-md-auto">
      <li class="navbar-item active mt-2">
        <p>ユーザ名: <%= current_account.email %></p>
      </li>
      <li class="navbar-item mt-1 ">
        <%= link_to 'ログアウト', destroy_account_session_path, class: "btn btn-dark ml-3" %>
      </li>
    </ul>
  </div>
</nav>


