<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a id="app-link" class="font-weight-bold" href="/messages">CHAT APP</a>
    <ul class="navbar-nav">
      <li class="navbar-item active mt-2">
        <p>ユーザ名: <%= current_account.email %></p>
      </li>
      <li class="navbar-item mt-1 ">
        <%= link_to 'ログアウト', destroy_account_session_path, class: "btn btn-light ml-3" %>
      </li>
    </ul>
  </div>
</nav>


