<div class="chat-hukidashi text-break ">
  <div class="text-left" id ="<%= object.id %>"><%= simple_format object.message %>
    <% if object.picture? %>
      <%= image_tag object.picture.url  %>
      <%= link_to "ダウンロード", download_message_path(object.id) %>
    <% end %>
  </div>
</div>

