<div class="navbar-nav bg-gray-200 sidebar1 col-md-3 d-md-block d-none col-12">
  <ul class="user-box list-group">
    <p class="sidebar-user fas fa-laugh-wink mt-3 badge badge-pill badge-light">登録ユーザ一覧</p>
    <% @alluser.each do |user| %>
      <li class="list-group-item"><%= user.email %></li>
    <% end %>
  </ul>
</div>
