<div class="navbar-nav bg-gray-200 sidebar1 sidebar-dark accordion" id="accordionSidebar ">
  <ul class="user-box">
    <p class="sidebar-user fas fa-laugh-wink mt-3"> 登録ユーザ一覧</p>
    <% @alluser.each do |user| %>
      <ol style= "margin: 20px 0 20px 0;border-bottom: 1px solid gray">
        <span><%= user.email %></span>
      </ol>
    <% end %>
  </ul>
</div>
