<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div id="example-3" class="carousel slide col-lg-6" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#example-3" data-slide-to="0" class="active"></li>
                <li data-target="#example-3" data-slide-to="1"></li>
                <li data-target="#example-3" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag 'dog1.jpg' , :size =>'500x480'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'dog23.jpg' , :size =>'500x480'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'dog3.jpg' , :size =>'500x480'%>
                </div>
              </div>
              <a class="carousel-control-prev" href="#example-3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#example-3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <%= render 'login' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
