/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "sb-admin-2";
@import "css/all.min";
@import "css/solid";
@import "css/fontawesome";
@import "css/brands";
@import "css/regular";
@import "font-awesome";



/* header */
nav a {
  color: gray;
  font-size: 1.7em;
}

nav p {
  color: black;
}

nav {
  margin-left: 359px;
}

nav.navbar {
  border: 1px solid gray;
}

/* side-bar */

div ul.user-box  {
  padding-left: 0;
  ol {
    padding-left: 0;
  }
  p {
    color: black;
    font-size: 22px;
  }
  span {
    color: black;
  }
}

.sidebar {
  border-right: 1px solid gray;
}
/* チャットレイアウト */

.messages {
  width: 75%;
  margin-bottom: 130px;
}


.chat-box1  {
  //word-wrap: break-word;
  padding: 0 30px 0 30px;
}


.chat-box1 > p {
  margin-bottom: 0;
  color: gray;
  font-size: 13px;
}

.chat-box2 > p {
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 0; 
  font-size: 13px;
  color: gray;
}

.chat-box2 {
  //width: 100%;
  //height: auto;
  //overflow: hidden;
  padding: 0 30px 0 30px;
}


.chat-box2 .chat-face {
  float: left;
  margin: 0 0 0 0px;
  width: 60px;
  height: 60px;
  background-color: #eeeeee;
  border-radius: 50%
}

//.chat-box2 .chat-area {
  //width: 100%;
//}


.chat-box1 .chat-hukidashi {
  display: inline-block;
  max-width: 80%;
  padding: 15px 20px 10px 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px 10px 0px 10px;
  background-color: #CCFFFF;
  
}

.chat-box2 .chat-hukidashi {
  display: inline-block;
  max-width: 80%;
  padding: 15px 20px 10px 20px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 0 10px 10px 10px;
  background-color: #EEEEEE;
}

.chat-box3 .chat-hukidashi {
  display: inline-block;
  max-width: 80%;
  padding: 15px 20px 10px 20px;
  margin-left: 70px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 0 10px 10px 10px;
  background-color: #EEEEEE;
}

.chat-hukidashi p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 2px;
  white-space: pre-wrap;
}

nav.pagination {
  display: none;
}

.jscroll-inner {
  width: 100%;
  padding: 0 15px 0 15px;
}


/* submit */
#new_message {
  padding: 0 15% 0 23%;
  height: 100px;
}

.bottom-submit {
  margin-left: 359px;
  border: 1px solid gray;
}

.picture {
  font-size: 0.5em;
}
