/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "sb-admin-2";
@import "css/all.min";
@import "css/solid";
@import "css/fontawesome";
@import "css/brands";
@import "css/regular";
@import "font-awesome";

/* style */
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


/* header */
nav a {
  color: gray;
  font-size: 1.7em;
}

nav p {
  color: black;
}

nav {
  z-index: 1000;
  @include pc {
    width: 100%;
  };
  @include tab {
    width: 100wh;
  };
  @include sp {
    width: 100wh;
  };
}

nav.navbar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  position: sticky;
  top: 0;
}


/* side-bar */

div ul.user-box  {
  padding-left: 0;
  ol {
    padding-left: 0;
  }
  p {
    color: black;
    font-size: 22px;
  }
  span {
    color: black;
  }
}

.sidebar1 {
    position: sticky;
    top: 0;
    border: 1px solid gray;
    padding: 0 12px 0 12px;
    z-index: 1000;
  @include pc {
    height: 100vh;
  };
  @include tab {
    height: 20vh;
  };
  @include sp {
    height: 20vh;
  };
}


/* チャットレイアウト */

.messages {
  //padding-bottom: 130px;
  //padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
}


.chat-box1  {
  //word-wrap: break-word;
  padding: 0 30px 0 30px;
}


.chat-box1 > p {
  margin-bottom: 0;
  color: gray;
  font-size: 13px;
}

.chat-box2 > p {
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 0; 
  font-size: 13px;
  color: gray;
}

.chat-box2 {
  //width: 100%;
  //height: auto;
  //overflow: hidden;
  padding: 0 30px 0 30px;
}


.chat-box2 .chat-face {
  float: left;
  margin: 0 0 0 0px;
  width: 60px;
  height: 60px;
  background-color: #eeeeee;
  border-radius: 50%
}

//.chat-box2 .chat-area {
  //width: 100%;
//}


.chat-box1 .chat-hukidashi {
  display: inline-block;
  max-width: 80%;
  padding: 0px 5px 0px 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px 10px 0px 10px;
  background-color: #CCFFFF;
  
}

.chat-box2 .chat-hukidashi {
  display: inline-block;
  max-width: 80%;
  padding: 0px 5px 0px 5px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 0 10px 10px 10px;
  background-color: #EEEEEE;
}

.chat-box3 .chat-hukidashi {
  display: inline-block;
  max-width: 80%;
  padding: 0px 5px 0px 5px;
  margin-left: 87px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 0 10px 10px 10px;
  background-color: #EEEEEE;
}

.chat-hukidashi div {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 2px;
  //white-space: pre-wrap;
  color: black;
}

nav.pagination {
  display: none;
}

.jscroll-inner {
  width: 100%;
  padding: 0 15px 0 15px;
}


/* submit */
#new_message {
  padding: 0 15% 0 23%;
  height: 100px;
}

.bottom-submit {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  position: sticky;
  bottom: 0;
  @include pc {
    width: 100%;
  };
  @include tab {
    width: 100wh;
  };
  @include sp {
    width: 100wh;
  };
}

.picture {
  font-size: 0.5em;
}
